.catchphrase {
	color: white;
	z-index: 1;
	position: absolute;
	padding: 20px 15px;
	margin-right: 15px;
	margin-top: 60px;
	text-align: center;
	letter-spacing: 0.5px;
	background-color: rgba(0,0,0,0.6)
}

.decoration {
	width: 100%;
}